<div class="page-container">

  <!-- manage toolbar -->
  <div class="toolbar-container">
      <div class="col-sm-2 text-left">
          <a class="add-button noselect">
            <i class="fa fa-building" aria-hidden="true"></i> 
            <span>Companies</span>
          </a>
      </div>
      <div class="col-sm-2 text-left">
        <a class="add-button noselect" routerLink="./projects">
          <i class="fa fa-folder" aria-hidden="true"></i> 
          <span>Projects</span>
        </a>
      </div>
      <div class="col-sm-2 text-left">
          <a class="add-button noselect">
            <i class="fa fa-users" aria-hidden="true"></i> 
            <span>Users</span>
          </a>
      </div>
      <div class="col-sm-2 text-left">
        <a class="add-button noselect">
          <i class="fa fa-credit-card-alt" aria-hidden="true"></i> 
          <span>Salaries</span>
        </a>
      </div>
      <div class="col-sm-2 text-left">
          <a class="add-button noselect">
            <i class="fa fa-hashtag" aria-hidden="true"></i> 
            <span>Requests</span>
          </a>
        </div>
        <div class="col-sm-2 text-left">
            <a class="add-button noselect">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span>Events</span>
            </a>
          </div>

      <div class="clearfix"></div>
  </div>

</div>
